In [ ]:
# SOURCE: StreetEasy Rental Inventory (all)
import pandas as pd
df = pd.read_csv("rentalInventory_All/rentalInventory_All.csv")

In [3]:
df = df[df["areaType"] == "neighborhood"]

In [5]:
df

,areaName,Borough,areaType,2010-01,2010-02,2010-03,2010-04,2010-05,2010-06,2010-07,...,2024-05,2024-06,2024-07,2024-08,2024-09,2024-10,2024-11,2024-12,2025-01,2025-02
5,Astoria,Queens,neighborhood,102,100,110,80,59,53,51,...,1410,1450,1469,1250,1344,1477,1374,1268,1344,1259
6,Auburndale,Queens,neighborhood,2,1,1,1,1,1,0,...,11,10,10,12,16,13,8,11,8,7
7,Bath Beach,Brooklyn,neighborhood,2,2,1,2,2,2,0,...,27,34,29,31,29,25,31,29,28,30
8,Battery Park City,Manhattan,neighborhood,213,207,206,189,184,200,186,...,196,161,183,161,141,149,175,184,190,161
9,Bay Ridge,Brooklyn,neighborhood,47,47,44,46,37,43,36,...,244,233,235,234,187,219,228,187,205,217
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Windsor Terrace,Brooklyn,neighborhood,16,19,14,16,17,16,21,...,57,81,123,125,109,116,112,118,96,75
194,Woodhaven,Queens,neighborhood,0,0,0,0,0,1,1,...,17,24,34,35,30,27,23,19,21,17
195,Woodlawn,Bronx,neighborhood,0,0,0,0,0,0,0,...,0,1,2,2,1,1,3,3,2,2
196,Woodside,Queens,neighborhood,11,10,10,17,12,14,10,...,143,119,144,158,153,170,158,126,157,139
197,Woodstock,Bronx,neighborhood,0,1,1,1,1,1,0,...,5,8,18,26,18,7,3,5,14,11

In [ ]:
# Credit to GitHub Copilot
# Extract year from column names and calculate yearly averages
df_yearly = df.filter(regex=r'^\d{4}-\d{2}$')  # Select only columns of the form "yyyy-mm"
df_yearly = df_yearly.groupby(df_yearly.columns.str[:4], axis=1).mean()

# Add back non-date columns
non_date_columns = df.drop(columns=df.filter(regex=r'^\d{4}-\d{2}$').columns)
df = pd.concat([non_date_columns, df_yearly], axis=1)

C:\Users\ic2594\AppData\Local\Temp\ipykernel_12060\3222792200.py:3: FutureWarning: DataFrame.groupby with axis=1 is deprecated. Do `frame.T.groupby(...)` without axis instead.
  df_yearly = df_yearly.groupby(df_yearly.columns.str[:4], axis=1).mean()

In [8]:
df.drop(columns=["areaType"], inplace=True)

In [9]:
df

,areaName,Borough,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
5,Astoria,Queens,67.500000,63.750000,127.083333,321.750000,842.500000,1149.000000,1276.750000,1960.250000,1840.666667,1586.500000,2128.250000,2341.500000,1059.000000,1138.083333,1353.583333,1301.5
6,Auburndale,Queens,0.583333,2.583333,6.583333,4.416667,5.583333,13.666667,14.250000,17.166667,17.083333,19.333333,17.166667,12.583333,11.250000,13.583333,11.333333,7.5
7,Bath Beach,Brooklyn,1.500000,6.750000,6.000000,6.000000,10.333333,20.166667,23.666667,33.333333,48.916667,53.166667,29.083333,68.666667,39.500000,24.416667,30.833333,29.0
8,Battery Park City,Manhattan,194.166667,220.750000,267.083333,317.333333,318.916667,285.916667,273.500000,238.750000,214.333333,208.583333,309.750000,226.666667,148.750000,199.333333,174.333333,175.5
9,Bay Ridge,Brooklyn,39.750000,43.833333,35.333333,102.083333,257.500000,280.166667,268.583333,477.083333,557.250000,514.916667,401.083333,515.833333,300.916667,245.416667,227.000000,211.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,Windsor Terrace,Brooklyn,21.083333,23.500000,27.083333,41.833333,79.166667,111.333333,127.000000,132.500000,111.916667,101.666667,107.416667,85.916667,50.250000,49.583333,85.916667,85.5
194,Woodhaven,Queens,0.166667,1.833333,2.666667,2.250000,9.333333,20.583333,8.250000,17.083333,15.833333,19.583333,16.916667,18.000000,27.333333,30.583333,24.250000,19.0
195,Woodlawn,Bronx,0.000000,0.416667,0.416667,0.250000,0.250000,0.833333,2.750000,6.166667,3.250000,5.916667,4.833333,4.833333,4.500000,1.916667,1.333333,2.0
196,Woodside,Queens,9.583333,11.083333,9.333333,15.500000,43.916667,72.250000,72.250000,142.833333,146.000000,121.000000,128.333333,153.916667,77.416667,135.250000,142.666667,148.0
197,Woodstock,Bronx,0.666667,0.583333,2.833333,4.416667,6.833333,5.666667,6.333333,9.000000,15.500000,20.250000,12.416667,15.166667,11.166667,16.333333,10.166667,12.5

In [10]:
df.to_csv("Vacancies.csv", index=False)